__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
.env
.venv
venv/
.envrc
.ipynb_checkpoints/

experiments_logs/
checkpoints/
visual_result/
runs/
wandb/
*.log
*.pth
*.pt
!dataloader/data_example/train_2p_labeled.pt
!dataloader/data_example/val.pt

.DS_Store
.vscode/
.idea/
